.secao-sobre{
  height: 400px;
  background-color: #F50400;
}
.secao-sobre img{
  height: 320px; width: 260px;
}
div.texto-secao-sobre{
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 40%; left: 30%;
}