.secao-chamativa{
  height: 400px;
  position: relative;
}
.secao-chamativa img{
  position: absolute;
  height: 100%; width: 100%;
  z-index: 1;
  filter: blur(0.7px) brightness(85%);
}
div.texto-secao-chamativa{
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 40%; left: 30%;
}
div.secao-chamativa div.texto-secao-chamativa p{
  margin: 0 0;
}
p#titulo-secao-chamativa{
  font-size: 5.7rem;
  margin-bottom: 35px;
  text-decoration: none;
  color: #F50400;
  font-family: Parisienne;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
}
p#complemento-secao-chamativa{
  font-size: 1rem;
  color: #0C0F0A;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
}