.secao-chamativa{
  height: 400px;
  position: relative;
}
.secao-chamativa img{
  position: absolute;
  height: 100%; width: 100%;
  z-index: 1;
  filter: blur(0.7px) brightness(85%);
}
div.texto-secao-chamativa{
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 30%; left: 30%;
}
div.secao-chamativa div.texto-secao-chamativa p{
  margin: 0 0;
}
p#titulo-secao-chamativa{
  font-family: 'Parisienne', cursive;
  font-size: 3.7rem;
  color: #0C0F0A;
  margin-bottom: 10px;
}
p#complemento-secao-chamativa{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #0C0F0A;
  font-weight: 700;
}